div {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15cap;
}
body {
    display: flex;
    flex-wrap: wrap;
    max-width: 770px;
    justify-content: center;
    align-items: center;
}